/* Basic Layout*/

body {
    background-color: #061121;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 70px;
    overflow-x: hidden;
}

.header {
    background-image: linear-gradient(45deg, rgb(35, 35, 255), rgb(94, 25, 255),rgb(255, 0, 255));
    margin-top: 100px;
    width: fit-content;
    padding: 0 20px;
    margin-bottom: 30px;
    color: black;
    border-radius: 10px;
    text-align: left;
    position: relative;
    left: 150px;
    animation: openanimation 0.75s;
}

.headercenter{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    left: 0px;
}

.headerline{
    margin-top: 125px;
    width: 200px;
    text-align: left;
    position: relative;
    left: 150px;
    border-bottom: #009688 solid 0.5px;
    animation: openanimation 0.85s;
}

.textbox{
    z-index: 1;
    text-align: left;
    height:fit-content;
    width: fit-content;
    color: white;
    position: relative;
    left: 150px;
    width :700px;
    margin-right: 100px;
    animation: openanimation ease-out 0.95s;
}

.link{
    font-family: 'Titillium Web', sans-serif;
    color: #009688;
}

.floatright{
    float: right;
    position: relative;
    left: 0;
}


/* Menu */
.menu {
    height: 75px;
    width:100%;
    border-bottom: 0.5px solid rgba(160, 160, 160, 20%);
    position: fixed;
    top: -15px;
    z-index: 5;
    background-color: #061121;
}

ul li {
    position: relative;
    left: 64px;
    list-style:none;
    display:inline-block;
    top: 13px;
    margin:0 25px;
}

ul li a{
    text-decoration: none;
    font-size:20px;
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 0;
    color: rgb(170, 170, 170);
    margin: 0 20;
    position: relative;
    top: center;
    transition: 0.7s;
}

ul li a:hover{
    color: #ffffff;
}

ul li a::after{
    content: '';
    height: 2px;
    background-color: #009688;
    width: 0;
    display:block;
    margin: auto;
    margin-top: 2px;
    transition: 0.7s;
}

ul li a:hover::after {
    width: 100%;
}

ul li a.active::after{
    content: '';
    height: 2px;
    background-color: #009688;
    width: 100%;
    display:block;
    margin: auto;
    margin-top: 2px;
}

.active{
    color: white;
}


/* Plaatjes */

img{
    animation: openanimation ease-out 0.95s;
    border-radius: 8px;
}

.imagecontainer{
    position: relative;
}

.nftcontainer{
    position: relative;
    left: 1000px;
    bottom: 350px;
    transform:scale(110%);
    transition: 1s;
}

.contentimage{
    object-fit: cover;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 1000px;
    bottom: 45px;
}

.cryptosoortimage{
    filter: drop-shadow(0px 0px 15px black);
    float: right;
    position: absolute;
    right: 250px;
    width: 175px ;
    height: 175px;
}

.nftimage{
    width: 350px;
    height: 350px;
}

.nftcontainer:hover{
    transform: scale(125%);
}

.imagetext{
    font-size: 10px;
    color: rgb(170, 170, 170);
}

.rotate{
    transform: rotate(-15deg);
}

#infoimage{
    position: absolute;
    top: 0;
}

#bitcoin{
    position: relative;
    bottom: 25px;
}

#binance{
    position: relative;
    top: 30px;
}

#cardano{
    position: relative;
    top: 20px;
}


/* Cryptosoorten menu*/

ol li{
    position: relative;
    right: 20px;
    display: inline;
    list-style: none;
    color: rgba(192, 192, 192, 80%);
    animation: openanimation ease-out 0.7s;
}

.currency{
    text-decoration: none;
}

ol li .currency{
    margin: 0 5px;
    transition: 0.7s;
    color: rgba(192, 192, 192,70%);
    padding: 3px 0;
}

ol li:hover .currency{
    margin: 0 15px;
    color: white;
    padding: 3px 8px;
}


/* Sign Up Form */
fieldset{
    transform: scale(125%);
    position: relative;
    top: 75px;
    margin: auto;
    width: 500px;
    height: fit-content;
    border: solid 1px #009688;
    border-top-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    background-color: #030911;
    transition: 0.8s;
}

fieldset:hover {
    transform: scale(130%);
}

.signup{
    margin: 0;
}

.submit{
    margin: 0;
    margin-left: 4px;
    color: #030911;
    position: static;
    font-weight: bold;
    animation: none;
}

input{
    width: 175px;
    height: 25px;
    outline: none;
    background: transparent;
    border: 1px solid #01423c;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
    margin-bottom: 10px;
}

#thankyou{
    margin-top: 150px;
}


/* Meer/Minder Knopje */

.showmore{
    display: contents;
    content: "show less";
}

.showless{
    display: none;
}

.buttonstyle{
    background:none;
    outline: none;
    border:none;
    color: #009688;
}

.more:after{
    content: "Minder";
}

.less:after{
    content: "Meer";
}

.nodots{
    display: none;
}


/* Keyframes */

@keyframes openanimation{
    from{
        opacity: 0;
        transform: translateY(-18px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadein{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


/* iframe */

iframe{
    width: 1000px;
    height: 950px;
    border: none;
    overflow: hidden;
    animation: 1s ease-out openanimation;
}

.iframebox{
    position: relative;
    top: 10px;
    width:100%;
    height: 50px;
    z-index: 1;
    background-color: #061121;
}

/* Disclaimer */

.disclaimer{
    text-decoration: none;
    color: rgb(134, 134, 134);
    transition: 0.5s;
}

.disclaimer:hover{
    color: white;
}


/* Footer */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 75px;
    background-color: #030911;
    color: rgb(134, 134, 134);
    text-align: center;
    border-top: 0.2px solid rgba(160, 160, 160, 20%);
}

.bottomfooter{
    position: relative;
    left: 0;
    bottom: 0;
}

.footertext{
    margin: 0 10px;
    color: rgb(134, 134, 134);
    transition: 0.5s;
}

.footertext:hover{
    color: white;
}
