body {
    /*background-image: url("https://cutewallpaper.org/21/crypto-wallpaper/Monday-blues-a-passive-crypto-market-today-CoinNewsSpan.jpg");
    background-image: url("https://i.pinimg.com/originals/33/29/10/3329103a60d577aff682ff31982e1adc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    background-image: url("https://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg"); 
    color: rgb(130, 220, 255);*/
    background-color: #061121;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 70px;
}

.header {
    background-image: linear-gradient(45deg, rgb(35, 35, 255), rgb(94, 25, 255),rgb(255, 0, 255));
    margin-top: 100px;
    width: fit-content;
    padding: 0 20px;
    margin-bottom: 30px;
    color: black;
    border-radius: 10px;
    text-align: left;
    position: relative;
    left: 150px;
}

.headercenter{
    background-image: linear-gradient(45deg, rgb(35, 35, 255), rgb(94, 25, 255),rgb(255, 0, 255));
    margin-top: 100px;
    width: fit-content;
    padding: 0 20px;
    margin-bottom: 40px;
    color: black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.headerline{
    margin-top: 50px;
    width: 200px;
    text-align: left;
    position: relative;
    left: 150px;
    border-bottom: #009688 solid 0.5px;
}

/*
.line{
    position: relative;
    left: 150px;
    height: 50px;
    border-bottom: 0.5px solid #009688;
    transition: 2s;
    width: 100px;
}

.line:hover{
    width:200px;
}*/


.textbox{
    text-align: left;
    width: fit-content;
    height:fit-content;
    color: white;
    position: relative;
    left: 150px;
    width :600px;
}

/*.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -5px;
    top: -20px;
}*/

ol li{
    position: relative;
    right: 20px;
    display: inline;
    list-style: none;
    color: rgb(192, 192, 192, 80%)
}

.currency{
    text-decoration: none;
}

ol li .currency{
    margin: 0 5px;
    transition: 0.7s;
    color: rgba(192, 192, 192,70%);
    padding: 3px 0;
    /*border-color: rgba(160, 160, 160, 0%);*/
}

ol li:hover .currency{
    margin: 0 15px;
    color: white;
    padding: 3px 8px;
    /*background-color: #030911;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;*/
    /*border: solid 0.3px rgba(160, 160, 160, 20%);*/
}

/*.form{
    position:relative ;
    left: 150px;
    width: 500px;
    height: 100px;
    background-color: #030911;
    
}*/

fieldset{
    position: relative;
    top: 75px;
    margin: auto;
    width: 500px;
    height: fit-content;
    border: solid 1px #009688;
    border-top-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    background-color: #030911;
}

.signup{
    margin: 0;
}

.submit{
    margin: 0;
    margin-left: 4px;
    color: #030911;
    position: static;
    font-weight: bold;
}

/*.label{
    font-weight: bolder ;
}*/

input{
    width: 175px;
    height: 25px;
    outline: none;
    background: transparent;
    border: 1px solid #01423c;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
}

.disclaimer{
    text-decoration: none;
    color: rgb(134, 134, 134);
    transition: 0.5s;
}

.disclaimer:hover{
    color: white;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 75px;
    background-color: #030911;
    color: rgb(134, 134, 134);
    text-align: center;
    border-top: 0.2px solid rgba(160, 160, 160, 20%);
}

.bottomfooter{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 75px;
    background-color: #030911;
    color: rgb(134, 134, 134);
    text-align: center;
    border-top: 0.2px solid rgba(160, 160, 160, 20%);
}

.footertext{
    margin: 0 10px;
    color: rgb(134, 134, 134);
    transition: 0.5s;
}

.footertext:hover{
    color: white;
}

/*menu*/
.menu {
    height: 75px;
    width:100%;
    border-bottom: 0.5px solid rgba(160, 160, 160, 20%);
    position: fixed;
    top: -15px;
    background-color: rgba(#061121, 0.5);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
    /*background-color: #061121;*/
    /*background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    opacity: 0.5;
    width: fit-content;
    padding:10px 20px;
    margin: auto;
    border-radius: 10px;*/
}

ul li {
    position: relative;
    left: 64px;
    list-style:none;
    display:inline-block;
    top: 13px;
    margin:0 25px;
}

ul li a{
    text-decoration: none;
    font-size:20px;
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 0;
    /*color: rgba(255, 255, 255, 75%);*/
    color: rgb(170, 170, 170);
    margin: 0 20;
    position: relative;
    top: center;
    transition: 0.7s;
}

ul li a:hover{
    color: #ffffff;
}

ul li a::after{
    content: '';
    height: 2px;
    /*background-color: #2AF598;
    background-image: linear-gradient(45deg, #2AF598 0%, #009688 40%);*/
    /*background-color: rgb(94, 25, 255);
    background-image: linear-gradient(45deg, rgb(35, 35, 255), rgb(94, 25, 255),rgb(255, 0, 255));*/
    background-color: #009688;
    width: 0;
    display:block;
    margin: auto;
    margin-top: 2px;
    transition: 0.7s;
}

ul li a:hover::after {
    /*color:rgb(255, 255, 255);
    position: relative;
    top: -6px; 
    #2AF598
    border-bottom: 1.5px solid #2AF598;*/
    width: 100%;
}

ul li a.active::after{
    content: '';
    height: 2px;
    background-color: #009688;
    width: 100%;
    display:block;
    margin: auto;
    margin-top: 2px;
}

.active{
    color: white;
}

.floatright{
    float: right;
    position: relative;
    left: 0;
}

